@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Karla", sans-serif;
}

.mask-gradient-to-r {
  -webkit-mask-image: linear-gradient(to right, black, transparent);
}

.mask-gradient-to-b {
  -webkit-mask-image: linear-gradient(black, transparent);
}

.headerText {
  font-size: clamp(1rem, 6vw, 3rem);
}

.paragraphText {
  font-size: clamp(0.8rem, 2vw, 2rem);
}

.cardHeaderText {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.burger-btn {
  @apply flex w-7 h-5 ml-5 relative cursor-pointer border-y-black border-y-2;
}
